In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
all_quotes = []
tags_list =[]
for i in range(1,11):
    url = f"https://quotes.toscrape.com/page/{i}/"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response,'html.parser')
    Div = soup.find_all("div",class_ = "quote")
    for quote in quotes:
        text = quote.find('span', class_='text').text
        author = quote.find('small', class_='author').text
        tags = quote.find('div', class_ = "tags").find_all('a')
        for tag in tags:
            tags_list.append(tag.text)
            single_quote = (text,author,tags_list)
            all_quotes.append(single_quote)
df = pd.DataFrame(all_quotes, columns=['quote', 'author', 'tags'])
df

,quote,author,tags
0,"“The truth."" Dumbledore sighed. ""It is a beaut...",J.K. Rowling,"[truth, death, life, adventure, love, courage,..."
1,“I'm the one that's got to die when it's time ...,Jimi Hendrix,"[truth, death, life, adventure, love, courage,..."
2,“I'm the one that's got to die when it's time ...,Jimi Hendrix,"[truth, death, life, adventure, love, courage,..."
3,“To die will be an awfully big adventure.”,J.M. Barrie,"[truth, death, life, adventure, love, courage,..."
4,“To die will be an awfully big adventure.”,J.M. Barrie,"[truth, death, life, adventure, love, courage,..."
...,...,...,...
185,“You have to write the book that wants to be w...,Madeleine L'Engle,"[truth, death, life, adventure, love, courage,..."
186,“Never tell the truth to people who are not wo...,Mark Twain,"[truth, death, life, adventure, love, courage,..."
187,"“A person's a person, no matter how small.”",Dr. Seuss,"[truth, death, life, adventure, love, courage,..."
188,“... a mind needs books as a sword needs a whe...,George R.R. Martin,"[truth, death, life, adventure, love, courage,..."
189,“... a mind needs books as a sword needs a whe...,George R.R. Martin,"[truth, death, life, adventure, love, courage,..."

In [54]:
df.to_csv('Books_Scrapped_Yogesh_Kesale.csv')